<%= form_with model: [ @holding, @holding.leases.build ], local: true do |form| %>


<p>
  <%= form.label :rent %><br>
  <%= form.text_field :rent %>
</p>

<p>
  <%= form.label :start_date %><br>
  <%= form.text_field :start_date %>
</p>

<p>
  <%= form.label :end_date %><br>
  <%= form.text_field :end_date %>
</p>

<p>
  <%= form.label :security_deposit %><br>
  <%= form.text_field :security_deposit %>
</p>

<p>
  <%= form.label :conditions %><br>
  <%= form.text_area :conditions %>
</p>

<p>
  <%= form.submit %>
</p>
<% end %>